<mat-expansion-panel [expanded]="step === itemIndex" (opened)="setStep(step)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="first-line">
                <span class="exp">{{ thread.fromexp | rmBtwChevrons }}</span>
                <span class="date">{{ thread.date | date }}</span>
            </div>
            <div class="subject">{{ thread.subject }}</div>
        </mat-panel-title>

        <span>STEP : {{step}} | ITEM INDEX : {{itemIndex}}</span>

    </mat-expansion-panel-header>

    <mat-divider></mat-divider>

    <div class="accordion-content">
        <div class="mail-header">
            <div>
                Categories : <span *ngFor="let labelsId of thread.labelsId">{{ labelsId | lowercase }} </span>
            </div>

            <button (click)="prevStep()" mat-icon-button color="primary" aria-label="Previous mail">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>

            <button (click)="nextStep()" mat-icon-button color="primary" aria-label="Next mail">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Delete mail"
                    (click)="openDialog(threadId, thread.subject)">
                <mat-icon mat-list-icon>delete</mat-icon>
            </button>
        </div>
        <div class="mail-content">
            <div [outerHTML]="thread.bodyResponse | sanitizeHtmlPipe"></div>
        </div>
    </div>
</mat-expansion-panel>
