<mat-accordion>
    <mat-expansion-panel [expanded]="step === index" (opened)="setStep(index)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon mat-list-icon>mail</mat-icon>
                {{ thread.fromexp |  rmBtwChevrons }}  {{ thread.subject }}
            </mat-panel-title>
            <mat-panel-description>{{ thread.date | date }} - <mat-icon mat-list-icon (click)="deleteThread(threadId)">delete</mat-icon></mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            Categories : <span *ngFor="let labelsId of thread.labelsId">{{ labelsId | lowercase }} </span>
        </div>
        <div [innerHTML]="thread.bodyResponse | sanitizeHtmlPipe"></div>

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
