.mail-header {
  background-color: rgb(65, 132, 243);
  padding: 15px;
  margin-bottom: 50px;
  border-radius: 3px;
}

.mail-content {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 3px;
}
