<div class="row">
    <div class="col-12">
        <div *ngIf="isLoading" class="justify-content-center">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!isLoading">
            <h2>{{user}}</h2>
            <span>
                <button mat-raised-button color="primary" (click)="getAllThreadsWithDetail()">Refresh</button>
            </span>

            <mat-list>
                <app-list-item
                        *ngFor="let threadElem of $threadList; let i = index;"
                        [thread]="threadElem"
                        [index]="i">
                </app-list-item>
            </mat-list>
        </div>
    </div>
</div>
