<mat-drawer-container autosize *ngIf="isLoggedIn">

    <mat-drawer #drawer mode="side" [opened]="true" class="mat-elevation-z4">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-toolbar color="primary" class="mat-elevation-z5">
        <button type="button" mat-button (click)="drawer.toggle()">
            <i class="material-icons">menu</i>
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet class="main"></router-outlet>
    </div>

</mat-drawer-container>

<div class="container" *ngIf="!isLoggedIn">
    <app-login></app-login>
</div>
