<div class="row" *ngIf="!isLoggedIn()">
    <div class="col-12">
        <img src="./assets/gmail_icon.svg" class="img-fluid" alt="Gmail logo image">
        <button (click)="signIn()" class="btn btn-secondary btn-block">Log in</button>
    </div>
</div>
<div class="row" *ngIf='isLoggedIn()'>
    <div  class="col-12">
        <h2 class="primary text-center">{{ user }}</h2>
    </div>
    <!--<div class="col-12 col-md-6">-->
        <!--<button (click)="getMails()" class="btn btn-primary">Get Mails</button>-->
        <!--<ul class="list-group">-->
            <!--<li *ngFor="let message of messages" class="list-group-item">-->
                <!--<button class="btn btn-default" type="button" (click)="getMailDetail(message.id)">Get detail</button>{{ message.id }}-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="col-12 col-md-9">

        <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="signOut()" class="btn btn-secondary">Log out</button>
            <button (click)="getThreadList()" class="btn btn-primary">Refresh Thread list</button>
        </div>
        <hr>
        <ul class="list-group">
            <li *ngFor="let thread of threadList " class="list-group-item" style="cursor: pointer;">
                <div class="row">
                    <div class="col-10">{{ thread.snippet | slice:0:45  }} ...</div>
                    <div class="col-2">
                        <button class="btn btn-primary" (click)="getThreadDetail(thread.id)">See</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
